html,body {
   margin: 0;
   padding: 0;
}
body {
   background: #ffffff;
}
a {
   color: #f50;
}
h1 {
   font-family: "nyt-karnak-display-130124",georgia,"times new roman",times,serif;
   padding: 0;
   margin: 0 0 10px 0;
   font-size: 24px;
   font-style: normal;
}
#main_image {
   position: relative;
   width: 100%;
   background-image: url('images/bg_seth_2000x2667.jpg');
   background-size: cover;
   background-repeat: no-repeat;
}
#nav {
   font-family: "nyt-karnak-display-130124",georgia,"times new roman",times,serif;
   position: absolute;
   top: 0;
   color: rgba(255,255,255,0.7);
   font-size: 26px;
   text-transform: uppercase;
   text-shadow: 2px 2px rgba(0,0,0,0.5);

}
#headline {
   position: absolute;
   bottom: 0px;
   color: #ffffff;
   line-height: 1.0em;
   font-weight: 700;
   font-family: "nyt-mag-slab","nyt-karnak-display-130124",georgia,"times new roman",times,serif;
}

#content {
   position: relative;
   color: #333;
   line-height: 1.2em;
   font-size: 26px;
   font-weight: 300;
   background: #ffffff;
}

.box_left {
   vertical-align: top;
   display: inline-block;
   font-family: "nyt-cheltenham", georgia, "times new roman", times, serif;
   margin: 0;
   padding: 0;
}
.box_right {
   vertical-align: top;
   display: inline-block;
   font-family: "nyt-franklin", georgia, "times new roman", times, serif;
   color: #000;
   font-size: 22px;
   font-style: italic;
}

.band {
   width: 100%;
   background: #f7f7f7;
   margin: 20px 0;
   overflow-x: hidden;
}

.sample {
   vertical-align: top;
   display: inline-block;
   border: 1px solid #d0d0d0;
   padding: 10px;
   background: #ffffff;
   width: 300px;
   margin: 2px 0;
   font-family: "nyt-franklin", georgia, "times new roman", times, serif;
   color: #666;
   cursor: pointer;
}
.sample:hover {
   border: 1px solid #a0a0a0;
   color: #333;
}

table {
   width: 100%;
}
td {
   vertical-align: top;
}
.td_button {
 width: 30px;
}
.td_title {
   font-weight: 600;
}
.td_time {
   text-align: right;
   font-weight: 200;
}

.button_play_pause {
   display: inline-block;
   float: left;
   margin-right: 10px;
   width: 20px;
   height: 20px;
   background: #f50;
   border-radius: 16px;
}
svg .icon_pause {
   display: none;
}


@media all and (max-width: 799px) {
   #nav {
      margin: 10px 20px;
   }
   #headline {
      margin: 20px 20px;
   }
   #content {
      margin: 20px;
   }
   .box_left {
   }
   .box_right {
      border: 0;
      padding: 40px 0;
      margin-top: 40px;
      //background: #fafafa;
      border-top: 1px solid #c0c0c0;
   }
   .samples {
      padding: 40px 20px;
   }
}
@media all and (min-width: 800px) {
   #nav {
      margin: 20px 40px;
   }
   #headline {
      margin: 40px 40px;
   }
   #content {
      margin: 40px;
   }
   .box_left {
      width: 55%;
   }
   .box_right {
      border-left: 1px solid #c0c0c0;
      padding-left: 20px;
      margin-left: 40px;
      width: 35%;
   }
   .samples {
      padding: 40px 40px;
   }
}

@media all and (max-height: 399px) {
   #headline {
      font-size: 70px;
      max-width: 70%;
      text-shadow: 2px 2px rgba(0,0,0,0.5);
   }
}
@media all and (max-height: 199px) {
   #headline {
      font-size: 60px;
      max-width: 70%;
      text-shadow: 2px 2px rgba(0,0,0,0.5);
   }
}
@media all and (min-height: 400px) {
   #headline {
      font-size: 90px;
      text-shadow: 2px 2px rgba(0,0,0,0.5);
   }
}


#soundcloud_player_iframe {
   width: 100%;
   text-align: center;
   height: 20px;
}

box {